<!-- <Tabs
  [page]="3"
  [useOnPan]="true"
  [swipeable]="true"
  [activeTab]="category"
  [tabBarActiveTextColor]="'#1890ff'"
  (onTabClick)="setCategory($event)"
>
  <TabPane [title]="titleTemplate">
    <ng-template #titleTemplate>
      <Badge [text]="3">
        <div>First Tab</div>
      </Badge>
    </ng-template>
    <div style="height: 0;"></div>
  </TabPane>
  <TabPane [title]="titleTemplate1">
    <ng-template #titleTemplate1>
      <Badge [text]="'今日(20)'">
        <div>Second Tab</div>
      </Badge>
    </ng-template>
    <div style="height: 0;"></div>
  </TabPane>
</Tabs> -->

<a routerLink="/search/{{ category }}">
  <SearchBar [placeholder]="'大学搜索'" [maxLength]="8"></SearchBar>
</a>
<hr />
<a routerLink="/catalog/{{ category }}">
  学校一览
</a>
<hr />
<a routerLink="/adv_search/{{ category }}">
  高级搜索
</a>
<hr />
<p>为您推荐</p>
<div *ngFor="let recommend of recommends">
  <a routerLink="/recommend/{{ recommend.id }}/{{ category }}"
    >{{ recommend.id }} - {{ recommend.name }} - {{ recommend.img }}</a
  >
</div>
<hr />
<p>Hot University</p>
<div *ngFor="let univ of hots">
  <a routerLink="/univ/{{ univ.id }}/{{ category }}">
    {{ univ.level }} {{ univ.name_zh }}
  </a>
</div>
