<p>高级筛选</p>

<div *ngIf="showEnglishFilter">
  校内英语
  <!-- <input type="checkbox" [value]="searchFilter.is_xiaonei_en === 1" (change)="searchFilter.is_xiaonei_en = $event.target.value ? 1: 0" /> -->
  searchFilter.toefl_min: {{ searchFilter.toefl_min }}
  <input type="number" min="0" [(ngModel)]="searchFilter.toefl_min" />
  <br />
  searchFilter.toefl_max: {{ searchFilter.toefl_max }}
  <input type="number" [(ngModel)]="searchFilter.toefl_max" />
  <br />
  searchFilter.toeic_min: {{ searchFilter.toeic_min }}
  <input type="number" min="0" [(ngModel)]="searchFilter.toeic_min" />
  <br />
  searchFilter.toeic_max: {{ searchFilter.toeic_max }}
  <input type="number" [(ngModel)]="searchFilter.toeic_max" />
  <br />
</div>

<div *ngIf="searchMeta && searchFilter && !searched">
  <h4>科目选择 {{ searchFilter.wen_or_li }}</h4>
  <button (click)="searchFilter.wen_or_li = 0">学部文科</button>
  <button (click)="searchFilter.wen_or_li = 1">学部理科</button>
  <br /><br />
  <h4>专业选择 {{ searchFilter.major }}</h4>
  <button *ngFor="let major of majors" (click)="searchFilter.major = major">
    {{ major }}
  </button>

  <br /><br />
  <h4>地区选择 {{ searchFilter.region_in.join(" /") }}</h4>

  <button
    *ngFor="let region of searchMeta.region"
    (click)="selectRegion(region)"
  >
    {{ region }}
  </button>

  <br /><br />

  <h4>学校类型 {{ searchFilter.univ_type_in.join(" /") }}</h4>

  <button
    *ngFor="let univ_type of searchMeta.univ_type"
    (click)="selectUnivType(univ_type)"
  >
    {{ univ_type }}
  </button>

  <br /><br />

  <h4>英语要求 {{ searchFilter.is_english }}</h4>
  <app-single-option
    [selected]="searchFilter.is_english"
    (ee)="searchFilter.is_english = $event"
  ></app-single-option>
  <br /><br />

  <h4>面试 {{ searchFilter.is_interview }}</h4>
  <app-single-option
    [selected]="searchFilter.is_interview"
    (ee)="searchFilter.is_interview = $event"
  ></app-single-option>
  <br /><br />

  <h4>校内考考试 {{ searchFilter.is_xiaonei }}</h4>
  <app-single-option
    [selected]="searchFilter.is_xiaonei"
    (ee)="searchFilter.is_xiaonei = $event"
  ></app-single-option>
  <br /><br />

  <h4>EJU 考试 {{ searchFilter.is_eju }}</h4>
  <app-single-option
    [selected]="searchFilter.is_eju"
    (ee)="searchFilter.is_eju = $event"
  ></app-single-option>
  <br /><br />
  <button (click)="reset()">重制</button>
  <button (click)="search()">搜索</button>
</div>

<div *ngIf="searched">
  <app-adv-search-item
    *ngFor="let faculty of faculties"
    [faculty]="faculty"
  ></app-adv-search-item>
  <button (click)="showEnglishFilter = true">英语要求</button>
  <button (click)="page = page + 1; search()">更多</button>
</div>
